/********/
/* BASE */
/********/
    
    @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

    body {
        color:#555; 
        line-height:1.5; 
        font:300 16px "Lato", Sans-Serif;
    }

    h1 {margin-top:0;}
    h2 {margin-top:2em;}
    h3 {margin-top:2em;}
    h4 {margin-top:2em;}
    h5 {margin-top:2em;}
    h5 {margin-top:2em;}
    
    /* Text */
    a {color:#000; text-decoration:none; border-bottom:1px solid #333;}
    ::selection {background:#0099F4; color: #FFF;}
    ::-moz-selection {background:#0099F4; color: #FFF;}
    p {line-height:1.5;}
    strong {font-weight:400;}

    /* Tables */
    table {font-size:.75em; width:100%; margin:2em 0; border:1px solid #eee;}
    table tr {border-top:1px solid #eee;}
    table tr:first-child {border:none;}
    table th {padding:.5em; background:#eee;}
    table td {padding:.5em; text-align:center; border-right:1px solid #eee;}
    table td:last-child {border:none;}
    hr {height:0; margin:1em 0; border:none; border-bottom:1px solid rgba(0,0,0,0.5);}

    /* Input Placeholder Color (Cross Browser) */
    ::-webkit-input-placeholder {color:rgba(255,255,255, 0.75);}
    :-moz-placeholder {color:rgba(255,255,255, 0.75);} /* Firefox 18- */ 
    ::-moz-placeholder {color:rgba(255,255,255, 0.75);} /* Firefox 19+ */ 
    :-ms-input-placeholder {color:rgba(255,255,255, 0.75);}


/**********/
/* LAYOUT */
/**********/

    /* Size Control */
    #header-content, .hero-content, #core, #footer-content {width:90%; margin:0 auto;}

    /* Site Header */
    #header {background:#222; border-bottom:0px solid #111;}
    #header-content {padding:2em 0;}
    #header-title {color:#efefef; font-weight:100;}
    #header-title > h1 {font-size:1.5em; font-weight:100; margin:0; padding:0;}
    #header-title > h1 > a {color:#fff; text-decoration:none; border:none;}
    #header-extra {}
    
    /* Navbar */
    #navbar {}
    #navbar-content {}

    /* Core */
    #core {margin-top:2em;}
    #core-content {}

    /* Footer */
    #footer {overflow:hidden; clear:both;}
    #footer-content {}

/***********/
/* MODULES */
/***********/

    /* Grid */
    .grp {overflow:hidden;}
    .grp > .col {padding:2em 0; box-sizing:border-box;}
    .grp-one {}
    .grp-one > .col {}
    .grp-two {}
    .grp-two > .col {}
    .grp-three {}
    .grp-three > .col{}
    .grp-four {}
    .grp-four > .col {}

    /* Navigation */
    .navigation {color:#fff; list-style:none; margin:1em 0; padding:0;}
    .navigation li {text-align:center; width:100%; border-top:1px solid rgba(255,255,255,.1);}
    .navigation li a {color:#fff; text-decoration:none; padding:1em 0; display:block; transition:color ease .5s;}
    .navigation li:last-child {border-bottom:1px solid rgba(255,255,255,.1);}
    .navigation li.selected a {}
    .navigation li a:hover {color:#3399ff;}
    .navigation li a.active {background:rgba(255,255,255,0.1);}
    .navigation li.apply {}
    .navigation li.apply a {}
    .navigation.fixed {
        width:100%;
        max-width:284px;
        height:100%;
        position:fixed;
        top:0;
        left:-100px;
        bottom:0;
        display:block;
        transition:all ease .5s;
    }
    .navigation.active {
        left:0;
    }

    /* Hero */
    .hero {
      min-height: 400px;
      max-height: 585px;
      background: url(../img/hero.jpg);
      background-size: cover;
      background-position: 100% 100%;
      background-position: 100% 25%;
      overflow:hidden;
      position:relative;
    }
    .hero-color {
      background-color:rgba(0,0,0,0.75); 
      position:absolute; 
      top:0; right:0; bottom:0; left:0;
    }
    .hero-content {color:#fff; text-align:center; padding:8em 0; position:relative;}
    .hero-content > h1 {font-size:3em; font-weight:100; margin:0; padding:0;}
    .hero-content > span {font-size:1em; margin:1em 0; padding:0; display:block;}
    .hero-content > p {font-size:1.5em; max-width:800px; margin:1em auto; padding:0; display:block;}
    
    /* Menu */
    .menu {}
    .menu-header {}
    .menu-content {}
    .menu-items {list-style:none; margin:0; padding:0;}
    .menu-item {padding:.5em; border-top:1px solid #eee;}
    .menu-item:last-child {border-bottom:1px solid #eee;}
    .menu-item > a {color:#333; text-decoration:none;}

    /* News */
    .news {font-size:.8em;}
    .news-header {}
    .news-content {}
    .news-items {list-style:none; margin:0; padding:0;}
    .news-item {padding:1em 0; border-top:1px solid rgba(0,0,0,0.1);}
    .news-item:last-child {border-bottom:1px solid rgba(0,0,0,0.1);}
    .news-item-title {margin:0;}
    .news-item-title > a {color:#222; text-decoration:none;}
    .news-item-date {margin:1em 0 0 0; display:block;}
    .news-item-body {}
    .news-item-link {}

    /* Events */
    .events {}
    .events-header {}
    .events-content {}
    .events-items {list-style:none; margin:0; padding:0;}
    .events-items > li {padding:1em 0; border-top:1px solid rgba(0,0,0,0.1);}
    .events-items > li:last-child {border-bottom:1px solid rgba(0,0,0,0.1);}
    .events-items > li > h4 {margin:0;}
    .events-items > li > h4 > a {color:#222; text-decoration:none;}
    .events-items > li > p {font-size:.80em;}
    
    /* Breadcrumbs */
    .breadcrumbs {margin:0 0 2em 0; padding:0 0 1em 0; border-bottom:1px solid rgba(0,0,0,0.1);}
    .breadcrumbs > ul {list-style:none; margin:0; padding:0;}
    .breadcrumbs > ul > li {margin:0 .5em 0 0; display:inline-block;}
    .breadcrumbs > ul > li:after {content:">"; margin:0 0 0 .5em;}
    .breadcrumbs > ul > li > a {color:#222; text-decoration: none;}

    /* Info Bar */
    .info-bar {}
    .info-bar > li {}

    /* Block */
    .block {margin:4em 0; overflow:hidden;}
    .block-image {text-align:center;}
    .block-image > img {width:100%; max-width:400px;}
    .block-content {margin:2em 0 0 0;}
    .block-content > h2 {margin-top:0;}

    /* Card */
    .card {}
    .card-image {}
    .card-content {}

    /* Link List */
    .list {list-style:none; margin:0; padding:0;}
    .list li {color: #777; margin:0; padding:.5em 0; border-bottom:0px dotted;}
    .list li:first-child {border-top:0px dotted;}
    .list li > a {text-decoration:none;}
    .list li > a:hover {text-decoration:none;}

    /* Link Chain */
    .chain {list-style:none; margin:0; padding:0;}
    .chain > li {margin-right:1em; display:inline-block;}
    .chain > li > a {}
    .chain > li > a:hover {}
    
    /* Search */
    .search {}
    .search-label {}
    .search-input {}
    .search-button {}

    /* Button */
    .button {color:#fff; text-decoration:none; padding:.75em 1em; background:#222; border-radius:2px; display:inline-block; transition:background ease .5s;}
    .button:hover {background:#444;}

    /* Animations */
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes fade-in-up {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 5%, 0);
            transform: translate3d(0, 5%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fade-in-up {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 5%, 0);
            transform: translate3d(0, 5%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    .fade-in-up {
        -webkit-animation-name: fade-in-up;
        animation-name: fade-in-up;
    }


/*************/
/* MODIFIERS */
/*************/
    
    /* Image Placement */
    .is-image-left {float:left; margin-right:1em;}
    .is-image-right {float:right; margin-left:1em;}

    .is-hidden {display:none !important;}
    .is-visible {display:block !important;}
    .is-collapsed {max-height:0; transition: all ease 0.5s;}
    .is-expanded {max-height:1000px; transition: all ease 0.5s;}
    .is-transparent {
        opacity:0;
        -webkit-transition: opacity ease 0.5s;
        -moz-transition: opacity ease 0.5s;
        -ms-transition: opacity ease 0.5s;
        -o-transition: opacity ease 0.5s;
        transition: opacity ease 0.5s;
    }
    .is-opaque {
        opacity:1;
        -webkit-transition: opacity ease 0.5s;
        -moz-transition: opacity ease 0.5s;
        -ms-transition: opacity ease 0.5s;
        -o-transition: opacity ease 0.5s;
        transition: opacity ease 0.5s;
    }
    .is-last {margin:0;}
    

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (min-width:680px) {

    /**********/
    /* LAYOUT */
    /**********/

    /* Site Wrap Resize */
    #header-content,
    .hero-content,
    #core,
    #footer-content {width:95%; max-width:1500px;}

    /* Site Header */
    #header {padding:0 3em;}
    #header-content {overflow:hidden;}
    #header-title {float:left;}
    #header-extra {float:right;}
    
    /* Hero */
    #hero-content {max-width:800px;}

    #wvu-footer-contact {width:40%; text-align:left; float:left;}
    #wvu-footer-links {width:60%; margin:0; float:right;}
    #wvu-footer-sites {text-align:right; width:100%; margin:0 0 10px 0; float:right;}
    #wvu-footer-sites li {margin:0 0 0 5px; display:inline;}
    #wvu-footer-social {text-align:right; width:100%; margin:0; float:right;}
    #wvu-footer-social li {margin:0 0 0 5px; padding:0;}
    
    /***********/
    /* MODULES */
    /***********/

    /* Grid */
    .grp > .col {padding:2em;}
    .grp-one {}
    .grp-one > .col {}
    .grp-two > .col {}
    .grp-two > .col-one {width:30%; float:left;}
    .grp-two > .col-two {width:70%; float:left;}
    .grp-three > .col {}
    .grp-three > .col-one {width:40%; float:left;}
    .grp-three > .col-two {width:60%; float:left;}
    .grp-three > .col-three {width:100%; clear:both; float:none;}
    .grp-four {}
    .grp-four > .col {width:50%; float:left;}

    /* Navigation */
    .navigation {text-align:right; margin:0; padding:0; display:block;}
    .navigation li {width:auto; margin:0 1.25em; border:0px; display:inline-block;}
    .navigation li:last-child {border:0px;}
    .navigation li a {color:var(pri-blue); padding:0 0 .25em 0; border:none;}
    .navigation li a.active {background:none; border-bottom:2px solid #fff;}

    /* Block */
    .block {}
    .block-image {text-align:left; width:35%; margin-right:5%; float:left;}
    .block-image > img {max-width:300px;}
    .block-content {width:60%; margin:0; box-sizing:border-box; float:left;}
    .block-content > h2 {margin-top:0;}

}

@media screen and (min-width:62.5em) {
  
    /***********/
    /* MODULES */
    /***********/
    
    /* Grid */
    .grp > .col {padding:3em;}
    .grp-one {}
    .grp-one > .col {}
    .grp-two > .col {}
    .grp-two > .col-one {width:25%;}
    .grp-two > .col-two {width:75%;}
    .grp-three {}
    .grp-three > .col {}
    .grp-three > .col-one {width:25%;}
    .grp-three > .col-two {width:50%;}
    .grp-three > .col-three {width:25%; clear:none; float:left;}
    .grp-three > .col-three a {}
    .grp-four {}
    .grp-four > .col {width:25%;}

    /* Block */
    .block {}
    .block-image {width:25%; margin-right:5%;}
    .block-image > img {max-width:none;}
    .block-content {width:70%; margin:0; box-sizing:border-box; float:left;}
    .block-content > h2 {margin-top:0;}

}